.body
{
	width:720px;
	font-family:'Malgun Gothic';
	margin:auto;
	text-align:center;	

}


.login_info_list
{
	margin: 30px 0;
	line-height: 160%;
}

.login_info_list_name
{
	width:300px;
	margin-right: 100px;
	font-size:20px;
}

.form_width
{
	width: 200px;
}

.inline-block
{
	display:inline-block;
}

.notice
{
	width:600px;
	border-style:solid;
	margin: 30px auto;
	padding: 10px;
}

.notice_title
{
	text-align:center;
	font-size: 24px;
	font-weight:bold;
	line-height: 160%;
}

.notice_content
{
	text-align:justify;
	font-size: 20px;
	line-height: 160%;
	padding: 5px;
}

.solution_logo
{
	width:367px;
	height:129px;
	margin:auto;
	padding-top: 30px;
}