.body
{
	width:720px;
	font-family:'Malgun Gothic';
	margin:auto;
}

.title
{
	font-size:40px;
	width:680px;
	text-align:center;
	margin:20px;
}

.login_info
{
	margin:20px;
	width:680px;
}

.column_style
{	
	width:338px;
	height:50px;

	font-size:20px;
	text-align:center;

	vertical-align: middle;
}

.form_style
{
	width: 220px;
	height: 30px;
	font-size:20px;
}

.submit_button_line
{
	text-align:center;
	margin:20px;
}

.submit_button_style{
	width: 300px;
	height: 70px;
	font-size: 30px;
}

.notice
{
	width:640px;
	border-style:solid;
	border-width:5px;
	margin: 30px 20px 20px;
	padding: 0 15px 15px;
}

.notice_title
{
	text-align:center;
	font-size: 30px;
	font-weight:bold;
	line-height: 160%;
}

.notice_content
{
	text-align:justify;
	font-size: 21px;
	line-height: 200%;
}

.solution_logo
{
	width:367px;
	height:129px;
	margin:auto;
	padding-top: 20px;
}