/**
 * Created By Jinwoo Kim, Yonghyeon Yoo
 */
body{
	font-family:'Malgun Gothic' !important;
}

.btn-apply{
	font-family:'Malgun Gothic' !important;
	font-weight:bold !important;
}

.margin-auto{
	margin:auto;
}
